# Node.js with Angular
# Build a Node.js project that uses Angular.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

trigger:
- main

pool:
  vmImage: ubuntu-latest

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '15.x'
  displayName: 'Install Node.js'

- script: 
    npm install -g @angular/cli
  workingDirectory: 'APM-Start'
  displayName: 'npm Install Angular'

- script:
- task: Npm@1
  inputs:
    command: 'install'
    workingDir: 'APM-Start'
  displayName: 'Install Dependencies'

- script: 
    ng build
  workingDirectory: 'APM-Start'
  displayName: 'Build App'

- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: '$(Build.ArtifactStagingDirectory)'
    ArtifactName: 'Walleye-Build'
    publishLocation: 'Container'